    /**{border: 1px solid red;}*/
    body {
        background-color: lightblue;
        margin: 0px;
    }
    
    h1, h2 {
        font-family: sans-serif;
        margin: 0%;
    }
    
    header {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: cornflowerblue;
    }
    
    header nav {
        width: 100vw;
        display: flex;
        justify-content:center;
    }
    
    header nav a {
        transition: 0.5s;
        color: darkblue;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin: 5%;
    }
    
    section {
        height: calc(100vh -150px);
        display: flex;
        justify-content: baseline;
        align-items: center;
        margin: 2.5%;
        flex-direction: column;
    }

    #div_pessoas{
        background-color: aliceblue;
        border: 1px solid lightsteelblue;
        padding: 15px;
    }

    #div_pessoas p{
        border-bottom: 1px solid lightslategray;
        border-left: 1px solid lightslategray;
        border-right: 1px solid lightslategray;
        margin: 0%;
        margin-bottom: 2.5%
    }

    #div_pessoas h3{
        margin: 0%;
        margin-top: 2.5%;
        border-left: 1px solid lightslategray;
        border-right: 1px solid lightslategray;
    }
    