/**{border: 1px solid red;}*/
body {
    background-color: gainsboro;
    margin: 0px;
}

header {
    /*height: 20vh;*/
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: steelblue;
}

header div {
    display: flex;
    flex-direction: row;
    padding: 0%;
}

header div img{
    height: 60px;
}

header section {
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-left: 5px;
    align-items: baseline;
}

header h1, header h2 {
    font-family: sans-serif;
    margin: 0%;
    color: aliceblue;
}

header nav{
    background-color: aliceblue;
    width: 100vw;
    display: flex;
    justify-content:center;
}

header nav a{
    transition: 0.5s;
    
    color: steelblue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
    padding: 3px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

section{
    height: calc(100vh -150px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

#frm_login{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#frm_login h2{
    color: steelblue;
}

#lbl_senha {
    color: transparent;
}

#sct_buttons{
    flex-direction: row;
}

footer {
    position: flex;
    width: 100%;
    bottom: 0%;
    background-color: steelblue;
    color: aliceblue;
}