#sct_pessoal{
    color: darkblue;
}

#sct_pessoal h2{
    color: darkblue;
    margin: 0%;
    width: 100%;
    border-bottom: 1px solid darkblue;
}

#sct_pessoal div{
    margin: 2px;
}

#lbl_email, #lbl_senha{
    color: transparent;
}